
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #252422;
}
.body--black{
    background-color: #252422;
    color: #f9cdcd;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 130px;
    .header__container{
        width: 90%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__logo{
        width: 160px;
        fill: #f4f4f4;
    }
    .header__logo--black{
        fill: #252422;
    }
    .header__logo--pink{
        fill: #f9cdcd;
    }
    .header__nav{
        display: flex;
        padding-right: 100px;
    }
    .header__nav-item{
        color: #f4f4f4;
        text-decoration: none;
        margin: 0 2rem;
        position: relative;
        &:after{
            height: 1px;
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            background-color: #f4f4f4;
            width: 0;
            transition: all 0.35s ease;
        }
        &:hover:after{
            width: 100%;
        }
    }
    .header__nav-item--current:after{
        width: 100%;
    }
    .header__nav-item--black{
        color: black;
        &:after{
            background-color: #252422;
        }
    }
    .header__nav-item--pink{
        color: #f9cdcd;
        &:after{
            background-color: #f9cdcd;
        }
    }
    .header__menu{
        background: inherit;
        border: none;
        color: #f4f4f4;
        font-size: 1.3rem;
        cursor: pointer;
    }
    .header__menu--black{
        color: #252422;
    }
    .header__menu--pink{
        color: #f9cdcd;
    }
}

.hero{
    width: 100%;
    height: 100vh;
    .hero__video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.awards{
    width: 100%;
    height: 70vh;
    .awards__container{
        border-bottom: #252422 solid 1px;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .awards__link{
        text-decoration: none;
        color: #252422;
        width: 33.3%;
        text-align: center;
        height: 40%;
         &:hover{
            .awards__logo{
                transform: scale(1.05);
                transition: all 0.3s ease-in-out;
            }
            .awards__title{
                text-decoration: underline #252422 2px;
            }
        }
    }
    .awards__logo{
        display: block;
        margin: 10% auto;
        width: 40%;
        height: 40%;
    }
    .awards__title{
        display: block;
        width: 40%;
        margin: 0 auto;
        line-height: 1.2rem;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 500;
    }
}



.overview{
    width: 100%;
    height: 50vh;
    .overview__container{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .overview__content{
        width: 50%;
        height: 100%;
        padding: 80px 0;
    }
    .overview__link{
        display: inline-block;
        text-decoration: none;
        color: #252422;
        border: #252422 1px solid;
        border-radius: 20px;
        padding: 8px 30px;
        margin-top: 40px;
        font-size: 0.7rem;
        font-weight: 600;
        background-image: linear-gradient(to top, #252422 50%, #f4f4f4 50%);
        background-size: 100% 200%;
        &:hover{
            color: #f4f4f4;
            animation: button-animation 0.25s 1 ease-in-out forwards;
            
        }
        &:not(hover){
            animation: button-animation-off 0.25s 1 ease-in-out forwards;
        }
    }
    .overview__text{
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 2.5rem;
    }
    .overview__image-svg{
        fill: #252422;
    }
}




.case-studies{
    width: 100%;
    height: calc(width);
    margin-bottom: 10em;
    .case-studies__container{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    .case-studies__card{
        width: 32%;
        height: 100%;
        text-decoration: none;
        color: #252422;
        text-transform: uppercase;
        &:hover .case-studies__title{
            text-decoration: #252422 underline 1.5px;
        }
        &:hover .case-studies__media{
            transform: scale(1.05);
            transition: all 0.2s ease-in-out;
        }
        &:not(hover) .case-studies__media{
            transform: scale(1);
            transition: all 0.2s ease-in-out;
        }
    }
    .case-studies__media-container{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .case-studies__media{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    .case-studies__title{
        margin: 10px 0;
        font-size: 1.3em;
    }
    .case-studies__text{
        width: 60%;
        font-size: 0.9em;
        font-weight: 500;
    }
}




.feature{
    width: 100%;
    height: calc(width);
    .feature__container{
        width: 95%;
        height: 100%;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-items: start;
        overflow: hidden;
    }
    .feature__card{
        width: 50%;
        height: 100%;
    }
    .feature__logo{
        height: 50px;
    }
}

@keyframes button-animation{
    0%{
        color: #252422;
        background-position: -100% 0;
    }
    100%{
        color: #f4f4f4f4;
        background-position: 0 100%;
    }
}
@keyframes button-animation-off{
    0%{
        color: #f4f4f4f4;
        background-position: 0 100%;
    }
    100%{
        color: #252422;
        background-position: -100% 0;
    }
}




