.contact-hero{
    width: 100%;
    background-color: #f4f4f4;
    color: #252422;
    padding: 140px 0;
    &__container{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 16% 17% 17%;
        grid-template-rows: 47% 18% 13% 22%;
        justify-content: space-between;
        align-content: start;
    }
    &__item-1{
        grid-column: 2 / 5;
        padding: 100px 0;
        padding-left: 20px;
    }
    &__title{
        line-height: 5.5rem;
        font-size: 6rem;
        margin-bottom: 50px;
    }
    &__copyright{
        font-size: 0.7rem;
        line-height: 0.8rem;
        font-weight: 500;
        animation: opacity 1.2s 1 ease-in-out forwards;
    }
    &__item-2{
        grid-column: 1 / 2;
        grid-row: 1 / 5;
    }
    &__card{
        width: 100%;
        height: 120vh;
        position: relative;
        &-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-div{
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #f4f4f4;
            animation: hero-img-animation 0.8s 1 0.4s ease-in-out forwards;
        }
    }
    &__item-3{
        grid-column: 2 / 3;
        grid-row: 2 / 5;
        padding-left: 10px;
    }
    &__decoration{
        font-size: 8rem;
        line-height: 2rem;
        animation: opacity 1.2s 1 ease-in-out forwards;
    }
    &__item-4{
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    &__item-5{
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
    &__item-6{
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
    &__item-7{
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    }
    &__mail-title{
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 20px;
        animation: opacity 1.2s 1 ease-in-out forwards;
    }
    &__mail{
        color: #252422;
        &:hover{
            text-decoration: none;
        }
        animation: opacity 1.2s 1 ease-in-out forwards;
    }
    &__link{
        display: inline-block;
        text-decoration: none;
        border-radius: 20px;
        padding: 8px 30px;
        font-size: 0.8rem;
        font-weight: 600;
        background-size: 100% 200%;
        &--black{
            color: #252422;
            border: #252422 1px solid;
            background-image: linear-gradient(to top, #252422 50%, #f4f4f4 50%);
            &:hover{
                animation: button-animation 0.25s 1 ease-in-out forwards;
                
            }
            &:not(hover){
                animation: button-animation-off 0.25s 1 ease-in-out forwards;
            } 
        }
        &--pink{
            color: #f9cdcd;
            border: #f9cdcd 1px solid;
            background-image: linear-gradient(to top, #f9cdcd 50%, #252422 50%);
            &:hover{
                animation: button-animation-pink 0.25s 1 ease-in-out forwards;
                
            }
            &:not(hover){
                animation: button-animation-pink-off 0.25s 1 ease-in-out forwards;
            } 
        }
    }
    &__item-8{
        grid-column: 4 / 5;
        grid-row: 4 / 5;
    }
}




.offices{
    width: 100%;
    background-color: #f4f4f4;
    color: #252422;
    padding: 140px 0;
    &__container{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 32% 68%;
        grid-template-rows: 25% 25% 25% 25%;
        justify-content: space-between;
        align-content: start;
    }
    &__item-1{
        grid-row: 1 / 5 ;
        border-right: #252422 solid 2px;
    }
    &__title{
        font-size: 2.5rem;
    }
    &__item-2{
        grid-row: 1 / 2 ;
        border-bottom: #252422 solid 2px;
        margin-left: 20px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    &__item-3{
        grid-row: 2 / 3 ;
        border-bottom: #252422 solid 2px;
        margin-left: 20px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    &__item-4{
        grid-row: 3 / 4 ;
        border-bottom: #252422 solid 2px;
        margin-left: 20px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    &__item-5{
        grid-row: 4 / 5 ;
        margin-left: 20px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    &__card{
        width: 50%;
        margin-bottom: 10px;
    }
    &__card-1{
        padding-right: 10px;
        border-right: #252422 solid 1px;
    }
    &__card-2{
        padding-left: 10px;
    }
    &__media-container{
        width: 100%;
    }
    &__media{
        width: 100%;
        object-fit: cover;
    }
    &__card-title{
        font-size: 1.5rem;
        margin: 10px 0;
    }
    &__card-text{
        line-height: 1rem;
        margin: 5px 0;
    }
}




.follow{
    width: 100%;
    background-color: #f4f4f4;
    color: #252422;
    padding-top: 80px;
    padding-bottom: 160px;
    &__container{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 32% 68%;
        grid-template-rows: 5% 95%;
        justify-content: space-between;
        align-content: start;
        border-top: #252422 solid 1px;
    }
    &__item-1{
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 10px 0;
    }
    &__item-2{
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    &__span-3{
        font-size: 1.5rem;
    }
    &__item-3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    &__item-4{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    &__title{
        font-size: 2.5rem;
        margin-top: 80px;
    }
    &__sub-title{
        margin-top: 80px;
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    &__list{
        list-style: none;
    }
    &__list-item{
        margin-bottom: 15px;
    }
    &__list-link{
        color: #252422;
    }
}




@media screen and (max-width: 1024px) {
    .contact-hero{   
        &__container{
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto auto auto auto auto auto;
        }
        &__item-1{
            grid-column: 1/2;
            grid-row: 1 / 2;
            padding: 0;
            padding-bottom: 40px;
        }
        &__title{
            line-height: 4rem;
            font-size: 3.5rem;
            margin-bottom: 20px;
        }
        &__item-2{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        &__card{
            height: 90vh;
        }
        &__item-3{
            grid-column: 1/2;
            grid-row: 3/4;
            padding: 50px 0;
        }
        &__decoration{
            font-size: 5rem;
        }
        &__item-4{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        &__item-5{
            grid-column: 1/2;
            grid-row: 5/6;
        }
        &__item-6{
            grid-column: 1/2;
            grid-row: 6/7;
        }
        &__item-7{
            grid-column: 1/2;
            grid-row: 7/8;
        }
        &__item-8{
            grid-column: 1/2;
            grid-row: 8/9;
        }
        &__mail-title{
            margin-top: 50px;
        }
        &__link{
            margin-top: 50px;
        }
    }


    .offices{
        &__container{
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto auto auto;
        }
        &__item-1{
            grid-row: 1 / 2 ;
            border-right: none;
            padding-bottom: 50px;
        }
        &__item-2{
            grid-row: 2/3 ;
            margin-left: 0;
        }
        &__item-3{
            grid-row: 3/4 ;
            margin-left: 0;
        }
        &__item-4{
            grid-row: 4/5 ;
            margin-left: 0;
        }
        &__item-5{
            grid-row: 5/6 ;
            margin-left: 0;
        }
    }


    .follow{   
        &__container{
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto auto;
        }
        &__item-1{
            grid-column: 1/2;
            grid-row: 1/2;
            padding: 10px 0;
        }
        &__item-2{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        &__item-3{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        &__item-4{
            grid-column: 1/2;
            grid-row: 4/5;
        }
    }
}

@media screen and (max-width: 500px) {
    .contact-hero{
        &__title{
            line-height: 2.5rem;
            font-size: 3rem;
        }
    }
    .offices{
        &__item-2{
            flex-direction: column;
        }
        &__item-3{
            flex-direction: column;
        }
        &__item-4{
            flex-direction: column;
        }
        &__item-5{
            flex-direction: column;
        }
        &__card{
            width: 100%;
        }
        &__card-1{
            padding-right: 0;
            border-right: none;
            border-bottom: #252422 solid 2px;
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
        &__card-2{
            padding-left: 0;
        }
    }
}

@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes hero-img-animation{
    0%{
        height: 100%;
    }
    100%{
        height: 0;
    }
}