
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #252422;
}
.body--black{
    background-color: #252422;
    color: #f9cdcd;
}


.space{
    padding-top: 50px;
}
.white-space{
    margin-top: 300px;
}
.low-white-space{
    margin-top: 100px;
}


.disappear{
    color: #252422;
    background-color: #f4f4f4;
    transition: background-color 1s;
}
.appear{
    color: #f9cdcd;
    background-color: #252422;
}

.hero-animation-con{
    display: inline-block;
    overflow: hidden;
    height: 70px;
}
.hero-animation{
    display: inline-block;
    position: relative;
    margin-top: 70px;
    animation: hero-animation 0.5s 1 ease-in-out forwards;
    &--delay-1{
        animation-delay: 0.2s;
    }
    &--delay-2{
        animation-delay: 0.4s;
    }
    &--delay-3{
        animation-delay: 0.6s;
    }
    &--delay-4{
        animation-delay: 0.8s;
    }
    &--delay-5{
        animation-delay: 1s;
    }
}



.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 130px;
    .header__container{
        width: 90%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__logo{
        width: 160px;
        fill: #f4f4f4;
        &--black{
            fill: #252422;
        }
        &--pink{
            fill: #f9cdcd;
        }
    }
    .header__nav{
        display: flex;
        padding-right: 100px;
    }
    .header__nav-item{
        color: #f4f4f4;
        text-decoration: none;
        margin: 0 2rem;
        position: relative;
        &:after{
            height: 1px;
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            background-color: #f4f4f4;
            width: 0;
            transition: all 0.35s ease;
        }
        &:hover:after{
            width: 100%;
        }
    }
    .header__nav-item--current:after{
        width: 100%;
    }
    .header__nav-item--black{
        color: black;
        &:after{
            background-color: #252422;
        }
    }
    .header__nav-item--pink{
        color: #f9cdcd;
        &:after{
            background-color: #f9cdcd;
        }
    }
    .header__menu{
        background: inherit;
        border: none;
        color: #f4f4f4;
        font-size: 1.3rem;
        cursor: pointer;
    }
    .header__menu--black{
        color: #252422;
    }
    .header__menu--pink{
        color: #f9cdcd;
    }
}


.accessibility{
    box-sizing: content-box;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    background-color: #252422;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    padding: 8px;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
        transition: all 0.2s ease-in-out;
    }
    &:not(hover){
        transform: scale(1);
        transition: all 0.2s ease-in-out;
    }
    .accessibility__icon{
        width: 100%;
        height: 100%;
        fill: #f4f4f4;
    }
}

.cursor{
    position: absolute;
    top: 45%;
    left: 45%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f4f4f4;
    z-index: 1;
    pointer-events: none;
    user-select: none;
    &:before{
        content: 'WATCH REAL';
        font-weight: 500;
        z-index: 1;
        top: 30px;
        left: 5px;
        position: absolute;
        color: #252422;
        text-align: center;
    }
}


.hero{
    width: 100%;
    height: 100vh;
    color: #252422;
    position: relative;
    &--height-auto{
        height: auto;
    }
    &--black{
        background-color: #252422;
        color: #f9cdcd;
    }
    &__container{
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    &__content{
        width: 100%;
        padding: 170px 0;
    }
    &__title{
        font-size: 6rem;
        font-weight: 700;
        line-height: 5.5rem;
    }
    &__content-text{
        display: inline-block;
        width: 450px;
        margin-top: 50px;
        margin-right: 10px;
    }
    &__content-text-p{
        margin-top: 20px;
        font-size: 1.2rem;
        font-weight: 500;
    }
    &__footer{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: end;
        flex-wrap: wrap;
    }
    &__text{
        width: 380px;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.5rem;
        margin-right: 60px;
    }
    &__nav{
        display: flex;
    }
    &__nav-item{
        color: #f4f4f4;
        text-decoration: none;
        margin-right: 3rem;
        position: relative;
        &:after{
            height: 1px;
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            background-color: #f4f4f4;
            width: 0;
            transition: all 0.35s ease;
        }
        &:hover:after{
            width: 100%;
        }
        &--current:after{
            width: 100%;
        }
        &--black{
            color: #252422;
            &:after{
                background-color: #252422;
            }
        }
        &--pink{
            color: #f9cdcd;
            &:after{
                background-color: #f9cdcd;
            }
        }
    }
    &__circle-nav{
        display: flex;
        float: right;
    }
    &__circle-nav-item:last-child{
        margin-right: 0;
    }
    &__circle-nav-item{
        font-weight: 600;
        font-size: 0.9rem;
        color: #f4f4f4;
        text-decoration: none;
        padding-left: 10px;
        margin-right: 70px;
        position: relative;
        &:before{
            box-sizing: border-box;
            height: 20px;
            width: 20px;
            position: absolute;
            content: '';
            top: -2px;
            left: -20px;
            background-color: #f4f4f4;
            border: #252422 solid 1px;
            border-radius: 50%;
        }
        &:after{
            box-sizing: border-box;
            height: 0px;
            width: 0px;
            position: absolute;
            content: '';
            top: 7px;
            left: -10px;
            opacity: 0;
            background-color: #252422;
            border-radius: 50%;
            transition: all 0.35s ease;
        }
        &:hover:after{
            width: 10px;
            height: 10px;
            top: 3px;
            left: -15px;
            opacity: 1;
        }
        &--current:after{
            width: 20px;
            height: 20px;
            top: -2px;
            left: -20px;
            opacity: 1;
        }
        &--black{
            color: #252422;
            &:before{
                background-color: #f4f4f4;
            }
            &:after{
                background-color: #252422;
            }
        }
        &--pink{
            color: #f9cdcd;
            &:before{
                background-color: #252422;
                border: #f9cdcd solid 1px;
            }
            &:after{
                background-color: #f9cdcd;
            }
        }
    }
    &__video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.awards{
    width: 100%;
    height: 70vh;
    .awards__container{
        border-bottom: #252422 solid 1px;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .awards__link{
        text-decoration: none;
        color: #252422;
        width: 33.3%;
        text-align: center;
        height: 40%;
        &:hover{
            .awards__logo{
                transform: scale(1.05);
                transition: all 0.3s ease-in-out;
            }
            .awards__title{
                text-decoration: underline #252422 2px;
            }
        }
        &:not(hover){
            .awards__logo{
                transform: scale(1);
                transition: all 0.3s ease-in-out;
            }
        }
    }
    .awards__logo{
        display: block;
        margin: 10% auto;
        width: 40%;
        height: 40%;
    }
    .awards__title{
        display: block;
        width: 40%;
        margin: 0 auto;
        line-height: 1.2rem;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 500;
    }
}



.overview{
    width: 100%;
    height: 50vh;
    .overview__container{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    .overview__content{
        width: 50%;
        height: 100%;
        padding: 80px 0;
        padding-right: 80px;
    }
    .overview__link{
        display: inline-block;
        text-decoration: none;
        color: #252422;
        border: #252422 1px solid;
        border-radius: 20px;
        padding: 8px 30px;
        margin-top: 40px;
        font-size: 0.7rem;
        font-weight: 600;
        background-image: linear-gradient(to top, #252422 50%, #f4f4f4 50%);
        background-size: 100% 200%;
        &:hover{
            animation: button-animation 0.25s 1 ease-in-out forwards;
            
        }
        &:not(hover){
            animation: button-animation-off 0.25s 1 ease-in-out forwards;
        }
    }
    .overview__text{
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 2.5rem;
    }
    .overview__image{
        width: 550px;
        height: 350px;
        padding-top: 80px;
    }
    .overview__image-svg{
        fill: #252422;
    }
}




.case-studies{
    width: 100%;
    height: calc(width);
    margin-bottom: 10em;
    .case-studies__container{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    .case-studies__card{
        width: 32%;
        height: 100%;
        text-decoration: none;
        color: #252422;
        text-transform: uppercase;
        &:hover .case-studies__title{
            text-decoration: #252422 underline 1.5px;
        }
        &:hover .case-studies__media{
            transform: scale(1.05);
            transition: all 0.2s ease-in-out;
        }
        &:not(hover) .case-studies__media{
            transform: scale(1);
            transition: all 0.2s ease-in-out;
        }
    }
    .case-studies__media-container{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .case-studies__media{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    .case-studies__title{
        margin: 10px 0;
        font-size: 1.3em;
    }
    .case-studies__text{
        width: 60%;
        font-size: 0.9em;
        font-weight: 500;
    }
}




.feature{
    width: fit-content;
    .feature__big-title{
        display: block;
        margin: 100px auto;
        width: 95%;
        font-size: 2.7rem;
        font-weight: 700;
    }
    .feature__container{
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: start;
        overflow: auto;
        scrollbar-width: thin;
        scroll-behavior: smooth;
    }
    .feature__card{
        width: 450px;
        margin-right: 60px;
        padding-right: 70px;
    }
    .feature__logo{
        height: 50px;
        margin-bottom: 100px;
    }
    .feature__title{
        margin-bottom: 30px;
        font-size: 1.5rem;
        position: relative;
        &:before{
            height: 3px;
            position: absolute;
            content: '';
            top: -90px;
            left: 0;
            background-color: #252422;
            width: 20px;
        }
    }
    .feature__text{
        margin-bottom: 100px;
        font-size: 1.1rem;
        font-weight: 410;
        letter-spacing: 0.03rem;
    }
    .feature__link{
        color: #252422;
    }
}




.spotlight{
    width: 100%;
    height: 200vh;
    background-color: #252422;
    color: #f9cdcd;
    &__color{
        width: 100%;
        height: 100%;
    }
    .spotlight__container{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    .spotlight__content{
        position: relative;
        top: 100px;
        left: 0px;
        width: 50%;
        height: 50%;
    }
    .spotlight__link{
        display: inline-block;
        text-decoration: none;
        border-radius: 20px;
        padding: 8px 30px;
        margin-top: 80px;
        font-size: 0.8rem;
        font-weight: 600;
        background-size: 100% 200%;
    }
    .spotlight__link--black{
        color: #252422;
        border: #252422 1px solid;
        background-image: linear-gradient(to top, #252422 50%, #f4f4f4 50%);
        &:hover{
            animation: button-animation 0.25s 1 ease-in-out forwards;
            
        }
        &:not(hover){
            animation: button-animation-off 0.25s 1 ease-in-out forwards;
        } 
    }
    .spotlight__link--pink{
        color: #f9cdcd;
        border: #f9cdcd 1px solid;
        background-image: linear-gradient(to top, #f9cdcd 50%, #252422 50%);
        &:hover{
            animation: button-animation-pink 0.25s 1 ease-in-out forwards;
            
        }
        &:not(hover){
            animation: button-animation-pink-off 0.25s 1 ease-in-out forwards;
        } 
    }
    .spotlight__title{
        font-size: 6rem;
        font-weight: 700;
        line-height: 5.5rem;
    }
    .spotlight__text{
        margin-top: 20px;
        font-size: 1.2rem;
    }
    .spotlight__text--bold{
        margin-top: 20px;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .spotlight__media-container{
        width: 50%;
        height: 80%;
        margin: 150px 0;
        overflow: hidden;
    }
    .spotlight__media{
        object-fit: cover;
    }
}



.featured-news{
    width: 100%;
    height: auto;
    &--black{
        background-color: #252422;
    }
    .featured-news__container{
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    .featured-news__header{
        width: 100%;
        height: 100px;
        margin: 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    .featured-news__header-title{
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 2.7rem;
    }
    .featured-news__link{
        display: inline-block;
        text-decoration: none;
        color: #252422;
        border: #252422 1px solid;
        border-radius: 20px;
        padding: 8px 30px;
        margin-top: 40px;
        font-size: 0.7rem;
        font-weight: 600;
        background-image: linear-gradient(to top, #252422 50%, #f4f4f4 50%);
        background-size: 100% 200%;
        &:hover{
            animation: button-animation 0.25s 1 ease-in-out forwards;
            
        }
        &:not(hover){
            animation: button-animation-off 0.25s 1 ease-in-out forwards;
        }
    }
    .featured-news__card{
        border-top: #252422 solid 1px;
        padding: 20px 0;
        margin-bottom: 4vw;
        display: block;
        width: 100%;
        height: 21vw;
        text-decoration: none;
        color: #252422;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        &:hover .featured-news__title{
            text-decoration: #252422 underline 3px;
        }
        &:hover .featured-news__title--pink{
            text-decoration: #f9cdcd underline 3px;
        }
        &:hover .featured-news__media{
            transform: scale(1.05);
            transition: all 0.2s ease-in-out;
        }
        &:hover .featured-news__button-arrow{
            right: -90px;
            transition: all 0.5s ease-in-out;
        }
        &:not(hover) .featured-news__media{
            transform: scale(1);
            transition: all 0.2s ease-in-out;
        }
        &--pink{
            border-top: #f9cdcd solid 1px;
            color: #f9cdcd;
        }
    }
    .featured-news__media-container{
        width: 33%;
        height: 100%;
        overflow: hidden;
    }
    .featured-news__media{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    .featured-news__content{
        width: 50%;
        height: 100%;
        margin-right: 250px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .featured-news__title{
        font-size: 2.6vw;
        font-weight: 500;
    }
    .featured-news__text{
        font-size: 1vw;
        font-weight: 500;
    }
    .featured-news__text--bold{
        font-weight: 600;
    }
    .featured-news__button{
        width: 30px;
        position: relative;
        overflow: hidden;
    }
    .featured-news__button-arrow{
        position: absolute;
        top: 0;
        right: -30px;
        display: flex;
    }
    &__button-arrow-svg{
        margin-right: 30px;
        fill: #252422;
        width: 30px;
        height: 30px;
        &--pink{
            fill: #f9cdcd;
        }
    }
}





.footer{
    width: 100%;
    &__container{
        width: 90%;
        margin: 0 auto;
    }
    &__content{
        background-color: #252422;
        color: #f4f4f4;
        padding: 120px 0;
        &--white{
            color: #252422;
            background-color: #f4f4f4;
        }
    }
    &__content-header{
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
    }
    .footer__content-header-logo{
        width: 50%;
    }
    .footer__content-header-logo-svg{
        fill: #f4f4f4;
        width: 70px;
        &--black{
            fill: #252422;
        }
    }
    .footer__content-header-text{
        width: 50%;
        padding-right: 200px;
        padding-left: 30px;
        font-size: 2rem;
        font-weight: 500;
        line-height: 2rem;
    }
    .footer__content-header-link{
        color: #f4f4f4;
        &--black{
            color: #252422;
        }
    }
    .footer__content-footer{
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-top: 100px;
    }
    .footer__content-footer-sub{
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }
    .footer__content-footer-title{
        font-size: 1.2rem;
        position: relative;
        margin: 20px 25px;
        &:before{
            position: absolute;
            content: '';
            background-color: #f4f4f4;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            top: 50%;
            left: -25px;
            transform: translateY(-50%);
        }
        &--black:before{
            background-color: #252422;
        }
    }
    .footer__content-footer-links{
        color: #f4f4f4;
        text-decoration: none;
        margin-bottom: 2px;
        font-size: 1.1rem;
        &--black{
            color: #252422;
        }
        &:hover{
            text-decoration: underline;
        }
    }
    .footer__content-footer-form{
        position: relative;
        margin-right: 50px;
    }
    .footer__content-footer-input{
        width: 560px;
        background-color: #252422;
        border: none;
        border-bottom: #f4f4f4 solid 1.5px;
        font-size: 1.1rem;
        padding-bottom: 15px;
        &::placeholder{
            color: #f4f4f4;
        }
        &:focus{
            outline: none;
        }
        &--white{
            background-color: #f4f4f4;
            border-bottom: #252422 solid 1.5px;
        }
        &--white::placeholder{
            color: #252422;
        }
    }
    .footer__content-footer-button{
        background-color: #252422;
        border: none;
        position: absolute;
        top: 0;
        right: 5px;
        &--white{
            background-color: #f4f4f4;
        }
    }
    .footer__content-footer-button-svg{
        fill: #f4f4f4;
        width: 20px;
        height: 20px;
        &--black{
            fill: #252422;
        }
    }
    .footer__copyright{
        width: 100%;
        background-color: rgb(28, 26, 26);
        color: #828282;
        &--white{
            background-color: #e5e5e5;
        }
    }
    .footer__copyright-container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    .footer__copyright-text{
        font-size: 0.7rem;
    }
}





@media screen and (max-width: 1024px) {
    .header{
        &__nav{
            display: none;
        }
        &__menu-icon{
            display: hide;
        }
    }
}


@keyframes hero-animation{
    0%{
        top: 0;
    }
    100%{
        top: -80px;
    }
}


@keyframes button-animation{
    0%{
        color: #252422;
        background-position: -100% 0;
    }
    100%{
        color: #f4f4f4f4;
        background-position: 0 100%;
    }
}
@keyframes button-animation-off{
    0%{
        color: #f4f4f4f4;
        background-position: 0 100%;
    }
    100%{
        color: #252422;
        background-position: -100% 0;
    }
}



@keyframes button-animation-pink{
    0%{
        color: #f9cdcd;
        background-position: -100% 0;
    }
    100%{
        color: #252422;
        background-position: 0 100%;
    }
}
@keyframes button-animation-pink-off{
    0%{
        color: #252422;
        background-position: 0 100%;
    }
    100%{
        color: #f9cdcd;
        background-position: -100% 0;
    }
}




